* {
    box-sizing: border-box;
  }
  
  :focus {
    outline: 2px solid black;
  }
  
  body {
    background: linear-gradient(to right, #f8b500, #f16529);
    font: 12px;
    font-weight: bold;
  }
  
  input {
    border: 1px solid #000;
  }
  
  .search-container {
    width: 400px;
    position: relative;
    margin: 15px auto;
  }
  
  .search-container input,
  .search-container .suggestions {
    width: 100%;
    background: #fff;
    text-align: left;
  }
  
  .search-container input {
    background: rgba(255, 255, 255, 0.2);
    height: 60px;
    padding: 0 10px;
  }
  
  .search-container .suggestions {
    position: absolute;
    top: 60px;
  }
  
  ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-y: auto;
  }
  
  ul.has-suggestions {
    display: block;
  }
  
  ul li {
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }
  
  ul li:hover {
    background-color: #f8b500;
  }
  
  input {
    border-bottom: 2px solid #f16529;
  }